/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self


 */


 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
 body {
  background: whitesmoke;
 }

 @font-face {
    font-family: ACFilmStrip;
    src: url("./ACFilmstrip.otf") format("opentype");
  }


h1 {
  
  font-family: 'ACFilmStrip', Cursive;
  text-align: center;
  font-size: 46px;
  word-spacing: -20px;
}
.map {
      width: 550px;
    height: 600px;
    margin: 20px;
    margin-left: 0px;
    margin-top: 0px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.navbar {
  margin: 0 auto;
  background: #f05053;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.nav-div {
   display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 900px;
}

.title-div {
  display: flex;
  align-items: center; 
}

.img-div {
  width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 20px;
}

.img-div img {
  height: 100%;
}
.h4 {
  margin: 5px;
}

p {
  margin: 5px;

}
.movie-lis {
  list-style: none;
  padding: 20px;
  border-bottom: 1px solid #eee;
  color: whitesmoke;
  font-family: sans-serif;
  display: flex;
}

.location-lis {
  padding: 3px;
  font-size: 12px;
}

.map-search {
  display: flex;
  margin: 40px auto;
  justify-content: center;
}

.search-container {

  width: 310px;
  overflow: hidden;
  
}

.search-div {
      background: #f05053;
    width: 300px;
    height: 600px;
}

.search-container ul {
  max-height: 760px;
  overflow-y: scroll;
  width: 300px;
  padding: 5px;
}

input {
  width: 258px;
  outline: none;
  padding: 10px;
  font-size: 16px;
  margin: 10px;
}  

.search-info {
  font-size: 12px;
  width: 165px;
}


.search-title {

}

.navbar-container {
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.github {
  font-size: 40px;
  margin-right: 10px;
  color: black;
}
img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.thumbnail-div {
  width: 120px;
  height: 100px;
  margin-right: 10px;
}   

.search-ul {
 max-height: 540px;
 overflow-y: scroll;
 background: #f05053;   
 width: 300px;
}

.collapse-title {
  font-size: 16px;
  margin: 5px;
}

.collapse-title:hover {
  font-size: 17px;
}

.Collapsible {
  font-size: 14px;
  margin: 5px;
  cursor: pointer
}

.location-lis:hover {
  cursor: default;
}


.plot {
  font-size: 12px;
}

.plot:hover {
  cursor: default
}

button {
  background: #f05053;
}
.modal-text {
  padding: 10px;
  font-size: 22px;
  font-family: sans-serif;
}